aerich==0.6.3
aiomysql==0.1.1
aioredis==1.3.1
aiosqlite==0.17.0
asgiref==3.5.0
async-timeout==4.0.2
attrs==21.4.0
autobahn==22.2.2
Automat==20.2.0
certifi==2021.10.8
cffi==1.15.0
channels==3.0.4
channels-redis==3.4.1
charset-normalizer==2.0.12
click==8.1.3
constantly==15.1.0
cryptography==36.0.1
daphne==3.0.2
dictdiffer==0.9.0
Django==4.0.2
gunicorn==20.1.0
hiredis==2.0.0
hyperlink==21.0.0
idna==3.3
incremental==21.3.0
iso8601==0.1.16
msgpack==1.0.4
Naked==0.1.31
Pillow==9.2.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
pycryptodome==3.15.0
pydantic==1.9.1
PyMySQL==1.0.2
pyOpenSSL==22.0.0
pypika-tortoise==0.1.3
pytz==2021.3
PyYAML==6.0
requests==2.27.1
service-identity==21.1.0
shellescape==3.8.1
six==1.16.0
sqlparse==0.4.2
tomlkit==0.11.1
tortoise-orm==0.18.1
Twisted==22.4.0
txaio==22.2.1
typing_extensions==4.1.1
tzdata==2021.5
urllib3==1.26.8
zope.interface==5.4.0
